<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li><input type="checkbox" checked> <%= link_to task.title.capitalize, task_path(task) %></li>
    <% else %>
      <li><input type="checkbox"> <%= link_to task.title.capitalize, task_path(task) %></li>
    <% end %>
  <% end %>
</ul>

<hr width="98%">

<%= link_to new_task_path, class: "btn btn-info" do %>
  <i class="fas fa-plus"></i> Add a new task
<% end %>
