<h1>My tasks</h1>

<div class="index-list">
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li><input type="checkbox" checked> <%= link_to task.title.capitalize, task_path(task) %></li>
    <% else %>
      <li><input type="checkbox"> <%= link_to task.title.capitalize, task_path(task) %></li>
    <% end %>
  <% end %>
</div>

<%= link_to "+ Add a new task", new_task_path %>
